.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    position: relative;
    background: (var(--inverted-bg-color));
    transition: width linear 0.2s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 15px;
    width: 100%;
}

.icon {
    color: var(--bg-color);
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items {
    padding: 0;
    list-style: none;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    padding: 5px 10px;
}

.itemIcon {
    fill: var(--inverted-primary-color);
}

.link {
    color: var(--inverted-primary-color);
    display: flex;
    align-items: center;
    gap: 10px;
}

.active {
    color: #f00;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .item {
        display: flex;
        justify-content: center;
    }

    .link {
        span {
            transition: 0.2s opacity;
            opacity: 0;
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }
}