.Sidebar {
    min-height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    flex: 0 0 var(--sidebar-width);
    position: relative;
    background: (var(--inverted-bg-color));
    transition: width linear 0.2s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 15px;
    width: 100%;
}

.icon {
    color: var(--bg-color);
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.items {
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    flex: 0 0 var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }
}