.item {
    padding: 5px 10px;
}

.itemIcon {
    fill: var(--inverted-primary-color);
}

.link {
    color: var(--inverted-primary-color);
    display: flex;
    align-items: center;
    gap: 10px;
}

.active {
    color: #f00;
}

.collapsed {
    display: flex;
    justify-content: center;
    width: 100%;

    span {
        transition: 0.2s opacity;
        opacity: 0;
        width: 0;
        height: 0;
        overflow: hidden;
    }
}