.InputWrapper {
    display: block;
    position: relative;
}

.placeholder {
    white-space: pre;
    font: var(--font-m);
    padding: 4px;
    border-radius: 5px;
    color: var(--primary-color);
}

.input {
    width: 100%;
    outline: none;
    border-radius: 5px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
    padding: 5px 10px;
    font: var(--font-m);
    min-height: 40px;

    &::placeholder {
        color: rgba(#ccc, 0.6);
    }

    &:focus {
        outline: none;
    }
}

.readonly {
    opacity: 0.7;
}