.app_purple_theme {
    --bg-color: #afa8ba;
    --inverted-bg-color: #63537f;
    --primary-color: #834c41;
    --primary-placeholder-color: rgba(#834c41, 0.5);
    --secondary-color: #bb7d71;
    --secondary-placeholder-color: rgba(#bb7d71, 0.5);
    --inverted-primary-color: #bb7d71;
    --inverted-secondary-color: #834c41;
    --theme-icon-color: #412e5d;
}
