.sortWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 20px;
}

.search {
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 20px;
}

.tabs {
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 20px;
}