.ArticleListItem {
    width: 250px;
    overflow: hidden;
}

.ArticleDetailsPage {
    color: #fff;
}

.commentTitle {
    margin-top: 20px;
}

.simpleList {
    grid-template-columns: repeat(3, calc(33% - 20px));
}