.ArticleListItem {
    width: 250px;
    overflow: hidden;
}

.ArticleDetailsPage {
    color: var(--primary-color);
}

.commentTitle {
    margin-top: 20px;
}

.simpleList {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}