.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 15px;
}

.links {
    margin: 0 0 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.active {
    color: #f00;
}

.appName {
    min-width: var(--sidebar-width);
    margin-left: 15px;
}

.createBtn {
    margin-left: 15px;
}
